{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Test Image{% endblock %}

{% block page_content %}

<script>
    function testclick()
    {
        window.open("{{ url_for("image") }}","_self");
    }
</script> 
  <div class="page-header">
    <div class="album py-5 bg-light">
      <div class="carousel-inner">
      {% if carouselid %}
        {% for fileid in carouselid %}
          {% set i = loop.index - 1 %}
          {% if username %}
            {% if kinds %}
              <div class="col-md-4">
                <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                  <img  src= "{{ url_for("imageid", ids = carouselid[i] , username = username) }}" style="height: 200px; width: 300px; display: block;  margin: 0 auto" />
                  <div class="card-body">   
                    <div class="btn-group" style="margin-top:7px; margin-left: 21px; margin-bottom:10px">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add cart</button>
                    </div>
                  </div>
                </div>                
                <p><br></p>
              </div>
            {% endif %}
         {% endif %}
      {% endfor %}
    {% else %}
      <p>Nothing here</p?
    {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
