{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Test Image{% endblock %}

{% block page_content %}

<script>
    function testclick()
    {
        window.open("{{ url_for("image") }}","_self");
    }
</script> 
  <div class="page-header">
    <div class="album py-5 bg-light">
      <div class="carousel-inner">
		  {% for fileid in carouselid %}
        {% set i = loop.index - 1 %}
			  {% if username %}
			    {% if kinds %}
			      <div class="col-md-4">
				      <div class="card mb-4 shadow-sm">
					      <img  src= "{{ url_for("imageid", ids = carouselid[i] , username = username) }}" style="height: 200px; width: 300px; display: block;" />
					      <div class="card-body">   
                  <form class="form form-horizontal" method="post" role="form">
                    {{ Aform.hidden_tag() }}
                    {{ wtf.form_errors(Aform, hiddens="only") }}
                    {{ wtf.form_field(Aform.addcar, class="btn btn-sm btn-outline-secondary") }}
                  </form>
						      <div class="btn-group">
						        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="testclick()">View</button>
						        <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
						      </div>
					      </div>
				      </div>
				    </div>
					{% endif %}
			 {% endif %}
		{% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
